* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;  
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.917);
}

.page {
    max-width: 1300px;
    min-height: 500px;
    margin: 0 auto;
}

.header,
.footer {
    height: 108px;
    background-color: #1f2937;
}

.header {
    padding: 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    justify-content: flex-end;
}

.footer {
    color:#e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: #1f2937;
    padding: 50px 200px;
    display: flex;
    justify-content: sp;
    align-items: center;
    gap: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    padding: 50px 50px 50px 0;
    gap: 8px;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color:#f9faf8;
}

p {
    margin: 0;
    color:#e5e7eb;
}

.top-button,
.bottom-button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 32px;
    border-radius: 8px;
    border-style: none;
}

.top-button {
    border: 2px solid #3882f6; 
}

.image {
    display: flex;
    flex: 1;
    justify-content: center;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
}

.random-info {
    background-color: white;
} 

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    padding: 42px;
}

.boxes-container {
    display: flex;
    justify-content: space-evenly;
    padding: 0 200px 150px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    color: #1f2937;
    text-align: center;
    font-weight: 400;
    gap: 8px;
    width: 150px;

}

.picture {
    border: 3px solid #3882f6;
    border-radius: 12px;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    display: flex;
    flex-shrink: 0;
}

.quote {
    background-color: #e5e7eb;
    padding: 120px 270px;
}

.quote .text {
    font-size: 36px;
    color:#1f2937;
    font-style: italic;
    font-weight: 300;
}

.quote .from {
    font-size: 20px;
    font-weight: 900;
    text-align: right;
}

.call {
    display: flex;
    justify-content: center;
    background-color: white;
}

.action-box {
    width: 960px;
    border-radius: 8px;
    margin: 120px 120px;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    background-color: #3882f6;
    color:#f9faf8;
}

.above {
    font-size: 24px;
    font-weight: 900;
}

.bottom-button {
    border: 2px solid #f9faf8;
}


